In [ ]:
#Q1- Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list
def sum_even(*num):
  sum = 0
  for i in num:
    if i%2 == 0:
      sum = sum + i
  return sum

In [ ]:
sum_even(11,12,13,14)

26

In [ ]:
#Q2- Create a Python function that accepts a string and returns the reverse of that string.
def reverse(s):
  return s[::-1]

In [ ]:
reverse("pwskills")

'sllikswp'

In [ ]:
#Q3-  Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.
def square(*l):
  l1 = []
  for i in l:
    l1.append(i**2)
  return l1

In [ ]:
square(11,12,13,14)

[121, 144, 169, 196]

In [ ]:
#Q4- Write a Python function that checks if a given number is prime or not from 1 to 200.
def is_prime(n):
     for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
     else:
      return True

for number in range(1, 201):
    if is_prime(number):
        print(number, "is prime")

1 is prime
2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
101 is prime
103 is prime
107 is prime
109 is prime
113 is prime
127 is prime
131 is prime
137 is prime
139 is prime
149 is prime
151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime
181 is prime
191 is prime
193 is prime
197 is prime
199 is prime

In [ ]:
#Q5- Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.
def fibonacci_generator():
  a, b = 0, 1
  while True:
    yield a
    a, b = b, a + b
fib_gen = fibonacci_generator()
for _ in range(10):
  print(next(fib_gen))

0
1
1
2
3
5
8
13
21
34

In [ ]:
#Q6- Write a generator function in Python that yields the powers of 2 up to a given exponent.
def power(p):
  for i in range(p+1):
    yield 2**i

In [ ]:
power(5)

In [1]:
#Q8-  Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
tuple_list = [(1,8),(5,3),(7,6),(2,1),(3,8)]
sorted_list = sorted(tuple_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (5, 3), (7, 6), (1, 8), (3, 8)]

In [2]:
#Q9- Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
cel_temp = [10,20,30,40]
fah_temp = list(map(lambda x : (x*9/5)+32,cel_temp))
print (fah_temp)

[50.0, 68.0, 86.0, 104.0]

In [3]:
#Q10- Create a Python program that uses `filter()` to remove all the vowels from a given string.
word = "Hello World"
list(filter(lambda x: x not in "aeiou",word ))

['H', 'l', 'l', ' ', 'W', 'r', 'l', 'd']

In [4]:
#Q11- 11) Imagine an accounting routine used in a book shop. It works on a list with sublists.
#Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
#product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
#order is smaller than 100,00 €.
#Write a Python program using lambda and map.
order_list = [(34587,(4*40.95)),(98762,(5*56.80)),(77226,(3*32.95)),(88112,(3*24.99))]
order_list

[(34587, 163.8), (98762, 284.0), (77226, 98.85000000000001), (88112, 74.97)]

In [5]:
list(map(lambda item: item[1] + 10 if item[1]<10000 else item[1], order_list))

[173.8, 294.0, 108.85000000000001, 84.97]